[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROOPSD"]
	path = ROOPSD
	url = https://github.com/yrobink/roopsd
	subdir = ROOPSD
